[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
psutil = "*"
pydantic = "*"
pyinstaller = "*"
pyside6 = "*"
requests = "*"
stringcase = "*"
urllib3 = "*"
websocket-client = "*"

[requires]
python_version = "3.10"
